<h1>{{title}}</h1>
<input class="editCardTitle hidden">

<p>Description <a href="#" class="editDescription">Edit</a></p>
<p class="description">{{description}}</p>
<input class="editDescriptionInput hidden">

<label for="comment">Add a Comment</label>
<input class="addComment" name="comment" placeholder="Write a comment...">

<ul>
  {{#each comments}}
    <li attr-index: {{@index}}>
      <p class="comment">{{this.text}}</p>
      <input class="#editCommentInput hidden">
      <p>on {{formatDate this.date}} <a href="#" class="#editComment">Edit</a> <a href="#" class="#deleteComment">Delete</a></p>
    </li>
  {{/each}}
</ul>
